:root {
  --header-background: #57acd1;
  --button-active-bg-color: #1b4b72;
  --page-background-color: #b8d0d6;
  --button-active-color: white;
  background-color: var(--page-background-color);
  --button-background-color-base: #9ed0e5;
}


.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--header-background);
  height: 20vh;
}

.nav-tab{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button{
  outline: none;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--button-background-color-base);
  border-radius: 10px;
  transition-duration: 0.1s;
  box-shadow: 0 2px #666;
  border: 0;
  line-height: 1.15;
  font-size: 16px;
  padding: 12px 24px;
}

button:hover {
  background-color: var(--button-active-bg-color);
  color: var(--button-active-color);
}

button:active{
  background-color: var(--button-active-bg-color);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.create-poll-container{
  margin: 3vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-items: center;
  align-items: baseline;
}

.add-answer{
  display: flex;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--button-background-color-base);
}

input {
  color: rgba(0,0,0,.87);
  border-bottom-color: rgba(0,0,0,.42);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: baseline;
  box-sizing: border-box;
  padding: 20px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: rgb(245, 245, 245);
  height: 56px;
}

.submit-poll-button{
  align-self:center;
}

.remove-button{
  width: 20px;
  padding: 2px;
  margin: 5px;

}

.answer-text-container{
  display: block;
  margin: 10px;
  padding: 5px;
}

.answer-text-container li{
  /*display-in;*/
}